<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>859752609360-q67neko4dhd8fpaiahi7dbgqgr1ea35o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859752609360-q67neko4dhd8fpaiahi7dbgqgr1ea35o</string>
	<key>API_KEY</key>
	<string>AIzaSyDgVvFyeRqqYp1zhNV2Qjt4jbIQAGrpI14</string>
	<key>GCM_SENDER_ID</key>
	<string>859752609360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rageeb.forecastFit</string>
	<key>PROJECT_ID</key>
	<string>forecastfit-ac756</string>
	<key>STORAGE_BUCKET</key>
	<string>forecastfit-ac756.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859752609360:ios:53a8615969eecd9a</string>
	<key>DATABASE_URL</key>
	<string>https://forecastfit-ac756.firebaseio.com</string>
</dict>
</plist>